<div>
  <button *ngIf="!isQuestionnaireStarted" class="btn btn-primary" (click)="startQuestionnaire()">
    <i class="bi bi-play-circle"></i> Start Questionnaire
  </button>

  <div *ngIf="isListening && !isAnnouncement" class="listening-indicator">
    <div class="ripple"></div>
    <i class="bi bi-mic-mute-fill"></i>
    <p>Listening...</p>
  </div>

  <p *ngIf="transcript">Transcript: {{ transcript }}</p>

  <div class="p-3">
    <div class="questions-list">
      <div *ngFor="let question of questions; let i = index">
        <p>{{ question.text }}</p>
        <ul>
          <li *ngFor="let option of question.options">
            <input
              #checkbox
              type="checkbox"
              [id]="option + i"
              [attr.data-question-index]="i"
            />
            <label [for]="option + i">{{ option }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
