<div *ngIf="!isQuestionnaireStarted">
  <button class="btn btn-primary" (click)="startQuestionnaire()">
    <i class="bi bi-play-circle"></i> Start Questionnaire
  </button>
</div>

<div *ngIf="isQuestionnaireStarted">
  <div *ngIf="isListening" class="listening-indicator">
    <div class="ripple"></div>
    <i class="bi bi-mic-mute-fill"></i>
    <p>Listening...</p>
  </div>

  <p *ngIf="transcript">Transcript: {{ transcript }}</p>

  <div class="p-3">
    <div class="questions-list">
      <div *ngFor="let question of questions; let i = index">
        <p>{{ question.text }}</p>
        <ul>
          <li *ngFor="let option of question.options">
            <input
              type="checkbox"
              [id]="option + i"
              (change)="onOptionChange($event, option)"
            />
            <label [for]="option + i">{{ option }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
